.main {
  height: 100vh;
  width: 60vw;
 
  border: solid black 2px;
  background-color: #e5f4ec;
  margin: 0;
  padding: 0;

}
.dashboard-top {
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: solid grey 2px;
}
.dash-btn {
  height: 50px;
  width: 150px;
  background-color: #8aea92;
  font-size:16px;
  
}
.itemBox{
  height: 200px;
  width: 95%;
  background-color: #dedede;
  margin-top:2%;
  margin-left:2.5%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: relative;
}
img{
  height: 190px;
  width: 300px;
  margin-top:5px;
  margin-left:5px;
}
.delete_button{
  height: 20px;
  width:12px;
  font-size:16px;
  display: flex;
  align-self: flex-end;
  padding: 0;
}
.house_info {
  display: flex;
  flex-direction: column;
  margin: 0;
}
p{
  margin: 2%;
  padding: 0;
}
.delete_div{
  position: absolute;
  top: 0;
  right: 0;
}